Package: me.thepapaya.webserver
Name: WebServer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Start a web server in documents when app starts up.
Maintainer: ray
Author: ray
Section: Tweaks
Depiction: https://thepapaya.me/cydia/depictions/?p=me.thepapaya.webserver
